<h1><small>logged as <span ng-bind="vm.mainName"></span></small></h1>
<link rel="stylesheet" href="http://localhost:3000/style/messenger.css">
<div class="content container-fluid bootstrap snippets">
	<div class="row row-broken">
		<div class="col-sm-3 col-xs-12">
			<div class="col-inside-lg decor-default chat" style="overflow: hidden; outline: none;" tabindex="5000">
				<div class="chat-users">
					<h6>Chans</h6> <!-- chan list -->
					<div ng-repeat="chan in vm.chans">
						<div class="user">
							<div class="name">{{ chan }}</div> <!-- ngclick to trigger tab change -->
						</div>
					</div>
					<h6>Users</h6>
					<div ng-repeat="user in vm.users">
						<div class="user">
							<div class="name">{{ user.name }}</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-sm-9 col-xs-12 chat" style="overflow: hidden; outline: none;" tabindex="5001">
			<div class="col-inside-lg decor-default" style="min-height:800px;">
				<div class="chat-body">
					<h6>{{ vm.currentChan }}</h6>
					<div ng-show="vm.logs">
						{{ vm.logs }}
					</div>
					<div ng-show="vm.usersInCurrentChan" class="answer left">
						<h7 ng-show="vm.usersInCurrentChan">Users in chan:</h7>
						<div class="text" ng-repeat="user in vm.usersInCurrentChan">
							{{ user }}
					</div>
					</div>
					<div ng-repeat="msg in vm.messages[vm.currentChan]">
					<div class="answer left">
						<div class="name">{{ msg.from }}</div>
						<div class="text" ng-show="msg.content">
							{{ msg.content}}
						</div>
						<div class="text" ng-show="msg.chans" ng-repeat="chan in msg.chans">
							{{ chan }}
						</div>
					<div class="time"></div>
					</div>
					</div>
					<form class="answer-add" name="form" id="form" ng-submit="vm.send()" role="form">
					<input placeholder="Write a message" ng-model="vm.message">
					<span type="submit" class="answer-btn answer-btn-2"></span>
				</form>
			</div>
		</div>
	</div>
</div>
