<!DOCTYPE html>
<html>
	<head>
		<title>{{ title }}</title>
		<link rel="stylesheet" href="http://localhost:3000/lib/font-awesome-4.5.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="http://localhost:3000/lib/bootstrap-3.3.6-dist/css/bootstrap.min.css">
		<link rel="stylesheet" href="http://localhost:3000/style/index.css">
		<script src="/socket.io/socket.io.js"></script>
		<script>var socket = io.connect('http://localhost:3000')</script>
		<script src="http://localhost:3000/lib/angular.min.js"></script>
		<script src="http://localhost:3000/lib/angular-route.min.js"></script>
		<script src="http://localhost:3000/js/app.module.js"></script>
		<script src="http://localhost:3000/js/auth/login.controller.js"></script>
		<script src="http://localhost:3000/js/dash.controller.js"></script>
		<script src="http://localhost:3000/js/services/web-socket.service.js"></script>
	</head>
	<body>
		<div ng-app="irc">
			<div ng-view></div>
		</div>
		<script src="http://localhost:3000/js/route-config.js"></script>
		<script src="http://localhost:3000/lib/jquery.min.js"></script>
		<script src="http://localhost:3000/lib/bootstrap-3.3.6-dist/js/bootstrap.min.js"></script>
	</div>
	</body>
</html>
